*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

html {
    background-color: #2d2d2d;
    margin: auto;
    box-shadow: 0 0 2em #454545;
}

.prenavbar, .prenavgauche, .prenavdroite{
    display: flex;
    background-color: #222222;
    height: 75px;
}

.prenavbar {
    justify-content: space-between;
}

.prenavdroite h6{
    padding: 25px 20px;
    transition: all 0.5s;
}

.prenavdroite h6:hover{
    font-size: 20px;
    cursor: pointer;
}

.prenavgauche{
    padding: 15px 40px;
}

.prenavgauche a{
    padding: 0 20px;
}

.navbar {
    justify-content: center !important;
    background-color: #2f3640;
    height: 120px;
}
.navbar a {
    padding: 0 20px;
}

.comp {
    background-color: #2f3640 !important;
    padding: 10px;
}

.competence {
    display: flex;
    margin: 40px 0;
    background-color: #2f3640 !important;
}

.middle {
    background-color: none;
}

.card {
    margin: 0 20px;
    cursor: pointer;
    width: 340px;
    height: 380px;
    background-color: #2f3640 !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
}

.front img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front span {
    position: relative;
    color: #292929; /* A changer si besoin */
    margin-top: 20px; /* A changer si besoin */
    font-weight: 700; /* A changer si besoin */
    font-size: 18px; /* A changer si besoin */
    letter-spacing: 2px; /* A changer si besoin */
    text-transform: uppercase; /* A changer si besoin */
    transition: 0.5s;
}

.front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s;
    text-align: center;
}

.front{
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #222222;
    border-radius: 10px !important;
}

.back-content{
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.sm {
    margin: 30px 0;
}

.sm li {
    color: aquamarine;
    font-size: 16px;
    transition: all 0.4s;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.project {
    height: 600px;
    background-color: #222;
}

.project ul {
    text-align: center;
    line-height: 85px;
}

.about {
    height: 600px;
    background-color: #2f3640;
}

.about ul {
    text-align: center;
    line-height: 85px;
}

.footer {
    height: 200px;
    background-color: #222;
}

.footer ul {
    text-align: center;
    line-height: 30px;
}

.middle2{
    position: absolute;
    top: 60px; /* A SUPPRIMER */
    left: 50%; /* A SUPPRIMER */
    transform: translate(-50%,-50%); /* A SUPPRIMER */
}

.btn{
    position: relative;
    display: block;
    color: #000000; /* Couleur de la police */
    font-size: 14px; /* Taille de la police  */
    font-weight: 700 !important;
    text-decoration: none;
    margin: 10px 0 !important; /* A modifier si besoin */
    border: 2px solid #636e72; /* A modifier si besoin (les bordures) */
    padding: 14px 60px !important; /* A modifier si besoin */
    text-transform: uppercase; /* A modifier si besoin MAJUSCULE */
    overflow: hidden;
    transition: all ease 1s; /* A modifier si besoin */
}

.btn:hover {
    color: white !important;
}

.btn::before{
    background: #222; /* Couleur de fond */
    content: ""; /* Effet de couleur */
    position: absolute;
    top: 50%; /* Position de la couleur de fond */
    left: 50%; /* Position de la couleur de fond */
    transform: translate(-50%,-50%); /* Position de la couleur de fond */
    z-index: -1; /* A modifier si besoin */
    transition: all 0.6s ease; /* A modifier si besoin */
}

.btn1::before{
    width: 0;
    height: 100%;
}

.btn1:hover::before {
    width: 100%;
}

.btn2::before{
    width: 100%;
    height: 0;
}

.btn2:hover::before {
    height: 100%;
}

.btn3::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(50deg); /* L'angle d'arrivé du fond */
}

.btn3:hover::before {
    height: 420%;
}

.btn4::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-50deg); /* L'angle d'arrivé du fond */
}

.btn4:hover::before {
    height: 420%;
}

ul {
    list-style: none;
}

.sm {
    text-align: center;
    margin: 0 !important;

}

.sm a{
    margin: 60px 20px;
    width: 80px;
    height: 80px;
    background-color: #3e3e3e;
    display: inline-block;
    border-radius: 24px;
    box-shadow: 6px 6px 12px rgba(0,0,0,.15),
    -6px -6px 12px rgba(255,255,255,.1);
    overflow: hidden;
    font-size: 28px;
    transition: .3s linear;
    position: relative;
    padding: 20px 0px;
}

.sm a:hover{
    transform: scale(1.3);
    border-radius: 50%;
}

.sm a i::before{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .5s linear;
}

.sm a:hover i::before{
    background-position: 0% 0%;
}

.fa-github::before{
    background-image: linear-gradient(135deg,#3b5998 30%,#0a3d62 50%);
}

.fa-linkedin::before{
    background-image: linear-gradient(135deg,#1da1f2 30%,#0a3d62 50%);
}

.fa-linkedin, .fa-github{
    width: 40px !important;
    height: 40px !important;
}