*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
}

.comming {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preinfo{
    background: url(img/téléchargement.png) center;
    width: 100%;
    height: 100vh;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info h1 {
    font-size: 45px;
    color: #7CBCE9;
}

.info1, .info2 {
    text-align: center;
}

.nameinfo, .jobinfo, .acs {
    color: #4ECE56;
}

.preabout {
    color: #90EEFF;
    background-color: #2E3342;
}

.about {
    text-align: center;
}

.btn-about a {
    list-style: none;
    text-decoration: none;
}

.btn-about button {
    display: block;
    background: none;
    color: #7CBCE9;
    margin: 35px auto;
    font-size: 35px;
    border: 1px solid #7CBCE9;
    padding: 10px 50px;
    transition: all 0.5s;
}

.btn-about button:hover{
    cursor: pointer;
    border-color: #4ECE56;
    color: #4ECE56;
    border-radius: 20px;
}

.navbar {
    background-color: #252934 !important;
}

.navbar-brand {
    cursor: default;
}

.navbar a {
    font-size: x-large !important;
    color: #5DBCFF !important;
}

.comp {
    display: block;
    justify-content: center;
}

.competence {
    display: flex;
    margin: 40px 0;
    justify-content: center;
    /* TODO : COULEUR DE FOND ICI !important */
}

.middle {
    background: none !important;
}

.invi {
    opacity: 10%;
}

.card {
    margin: 0 20px;
    cursor: pointer;
    width: 300px;
    height: 320px;
    background: none !important;
    border: none !important;
}

.front img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front span {
    position: relative;
    /* TODO : COULEUR DE POLICE ICI */
    margin-top: 20px; /* A changer si besoin */
    font-weight: 700; /* A changer si besoin */
    font-size: 18px; /* A changer si besoin */
    letter-spacing: 2px; /* A changer si besoin */
    text-transform: uppercase; /* A changer si besoin */
    transition: 0.5s;
}

.front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 2s;
    text-align: center;
}

.front{
    transform: perspective(600px) rotateY(0deg);
    padding: 10px;
}

.back ul {
    margin: 0!important;
    padding: 0!important;
}

.back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #21242E;
    border-radius: 10px !important;
    position: relative;
    justify-content: center;
}

.back-content{
    /* TODO : COULEUR DE POLICE ICI */
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.sm {
    margin: 30px 0;
}

.sm li {
    /* TODO : COULEUR DE POLICE ICI */
    font-size: 16px;
    transition: all 0.4s;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.portfolio {
    background-color: #21242E;
    color: #5DBCFF;
    font-size: 20px;
}

.portfolio h1 {
    margin-top: -43px !important;
}

.portfolio ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 75%;
    margin: 100px auto !important;
}

.portfolio li {
    background-color: #13151B;
    height: 200px;
    width: 300px;
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 0px 50px 0px rgba(19,21,27,1);
}

.portfolio a {
    color: #4ECE56;
    position: relative;
    top: 25%;
}

.card-header {
    width: 100%;
}

.card-body:hover, .card-header:hover {
    cursor: default;
}

.contact {
    background-color: #2E3342;
    color: #5DBCFF;
}

.contact .card-body p {
    color: black;
}

.contact .form-group {
    color: #5DBCFF;
}

.reveal {
    opacity: 0;
    transform: translateY(-100px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 2s;
}